<div class="addfriend">
  <h2>Add Friends</h2>
  <%= form_for @friendship do |f| %>
  <div class="field">
   <%= f.label 'Users of Holiday Wishlist' %> <br>
   <%= f.collection_select :friend_id, @users, :id, :email %>
 </div>
 <div class="actions">
   <%= f.submit 'Add Friend' %>
 </div>
 <% end %>
</div>





