<div class="myfriends">
  <h2>My Friends</h2>
  <ul>
    <% @friendships.each do |friendship| %>
    <li>
      <%= friendship.email %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
    <% end %>
  </ul>
</div>



