<div class="container">
  <div class="row">
      <div class="col-md-10 center">
        <table class="table table-striped table-bordered">
          <thead class="text-center">
           <th>Title</th>
            <th>URL </th>
            <th>Save to Wishlist </th>
          </thead>
          <tbody>
          <% @found_products.each do |products_hash| %>
            <% item_hash = {
              title: products_hash['title'],
              url: products_hash['url']
             }
            %>
            <tr>
              <td><%= products_hash['title'] %></td>
              <td><%= products_hash['url'] %></td>
              <td><%= button_to('Save', items_path(item: item_hash))%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>

<br>
<br>
<br>
<br>

