

<br>
<br>

<table>
  <thead>
    <th>Name</th>
    <th>Description </th>
    <th># of Items</th>
  </thead>
  <tbody>
  <% @found_products.each do |products_hash| %>
    <% item_hash = {
      title: products_hash['title'],
      description: products_hash['description']
     }
    %>
    <tr>
      <td><%= products_hash['title'] %></td>
      <td><%= button_to('Save for later', items_path(item: item_hash))%></td>
    </tr>
  <% end %>

  </tbody>
</table>

<br>
<br>



<!-- = form_for @item, url: wishlist_items_path do |f|
  = f.hidden_field :wishlist_id, value: params[:wishlist_id]
  = f.label "Etsy URL"
  = f.text_field :etsy_url

  = f.submit "Add Item" -->


<br>
<br>

