<div class="addfriend">
  <br>
  <br>
  <br>
  <br>
  <h2>Browse Etsy Products</h2>
  <%= form_tag searches_path, method: :get do  %>
    <div class="field">
      <select name="name" id="category">
      <% @cat_list.each do |category| %>
        <option value= "<%= category['name'] %>"><%= category[
          'meta_title'] %></option>
          <% end %>
     </select>
    </div>
   <div class="actions">
     <%= submit_tag 'Search' %>
   </div>
  <% end %>
  </div>


