<h1><%= @search.name %></h1>
<h5><%= @search.description %></h5>

<br>

<ul>
<% @search.items.each do |item| %>
<li><%= link_to item.name, search_item_path(@search, item) %></li>
<% end %>
</ul>

<br>
<%= link_to "Add new item to list", , new_search_item_path(search_id: @search.id)%>
