<% flash.each do |key, value| %>
<%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<% if current_user %>
<div id="items" class=“transitions-enabled”>
  <% @items.each do |item| %>
  <div class="box panel panel-default">
    <h2><%= image_tag item.image_url %><onload="this.width/=2;this.onload=null;"></h2>
    <div class="panel-body">
      <h2><%= link_to item.title, item %></h2>
      <p class="user">Submitted by: <%= item.user.name %> </p>
    </div>
  </div>
  <% end %>
</div>

<% else %>
<br>
<div class="row">
  <div class="container">
<div class="welcome_message">
<p>Welcome to Holiday Wishlist--We make secret santa easier than it has been ever before! You never have to be a vicitim of regifting ever again (or vise versa)! See what your friends really want for the holidays and share your wishlist with others. You can also add items from Etsy and save them into your wishlist.</p>
<br>
<p>More to come: You will soon be able to:
  <ol>
    <li>Purchase items with the We-Pay or Stripe </li>
    <li>Search for products from a collection of some of my favorite retailers (Jcrew, Anthropology, Nordstorm, etc..)</li>
    <li>See a single page view of all the products</li>
  </ol>
  </p>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<% end %>




