/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "masonry/transitions"
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Croissant+One);

 *{
  box-sizing: border-box;
 }

 /* centered columns styles */
.row-centered {
    text-align:center;
    padding: 10px 20px 20px 50px;
  }
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
}


 html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  background: #a2cade;
}

h1, h2 {
  margin:0;
  text-align: center;
}

ul {
    list-style-type: none;
}


.table td {
   text-align: center;
}

.welcome_message {
padding: 20px;
border-radius: 10px 10px 10px 10px;
background: #e2e2e2;
background: -moz-linear-gradient(left, #e2e2e2 0%, #d1d1d1 30%, #dbdbdb 61%, #fefefe 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #e2e2e2), color-stop(30%, #d1d1d1), color-stop(61%, #dbdbdb), color-stop(100%, #fefefe));
background: -webkit-linear-gradient(left, #e2e2e2 0%, #d1d1d1 30%, #dbdbdb 61%, #fefefe 100%);
background: -o-linear-gradient(left, #e2e2e2 0%, #d1d1d1 30%, #dbdbdb 61%, #fefefe 100%);
background: -ms-linear-gradient(left, #e2e2e2 0%, #d1d1d1 30%, #dbdbdb 61%, #fefefe 100%);
background: linear-gradient(to right, #e2e2e2 0%, #d1d1d1 30%, #dbdbdb 61%, #fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.welcome_message p, ol {
  font-family: 'Lobster Two', cursive;
  color: red;
  font-size: 18px;
  font-weight: bold;
  list-style-type: circle;
}

.navbar-brand {
  color: red;
  font-weight: bold;
}

.devise_forms, .addfriend, .myfriends, .newetsysearch {
  border-radius: 300px 300px 300px 300px;
  -moz-border-radius: 300px 300px 300px 300px;
  -webkit-border-radius: 300px 300px 300px 300px;
  width: 400px;
  height: 400px;
  background: red;
  margin-left: auto;
  margin-right: auto;

  border: 3px solid #e61e1e;
  background-color: white;
  text-align: center;
  font-family: 'Lobster Two', cursive;
}

#snowglobe {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
    // overflow: hidden;
  }

  #snowglobe .flake {
    position: absolute;
    width: 1px;
    height: 1px;
    color: rgba(255,255,255,0);
    text-shadow: 0 0 3px rgba(255,255,255,1);
  }​

  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }



  #items {
    margin: 0 auto;
    width: 100%;

    .box {
      margin: 35px;
      width: 200px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
      border: 3px red solid;
      border-radius: 5px;
      display: inline-block;
      padding: 10px;

      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        font-size: 15px;
        margin: 0;
        padding: 25px 10px;
        a {
          color: #474747;
        }
      }

    .image .title{
      display:none;
    }

    .image:hover .title{
      display: block;
    }

  }
}


  #edit_page {
    .current_image {
      img {
        display: block;
        margin: 20px 0;
      }
    }
  }

  #item_show {
    .panel-heading {
      padding: 0;
    }
    .item_image {
      img {
        max-width: 100vh;
        width: 100vh;
        display: block;
        margin: 0 auto;
      }
    }
    .panel-body {
      padding: 35px;
      h1 {
        margin: 0 0 10px 0;
      }
      .description {
        color: #868686;
        line-height: 1.75;
        margin: 0;
      }
    }
    .panel-footer {
      padding: 20px 35px;
      p {
        margin: 0;
      }
      .user {
        padding-top: 8px;
      }
    }
  }

  textarea {
    min-height: 250px;
  }
